/* Oculta la sidebar por defecto en móviles */
.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    height: 125vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
    font-size: 1rem;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 2rem;
        z-index: 1100;
        background: none;
        color: white;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .sidebar-toggle {
        display: none;
    }

    .sidebar {
        transform: translateX(0);
        position: relative;
    }
}
